.partners__header {
  text-align: center;

  @media ($desktop) {
    display: none;
  }
}

.partners__list {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;

  @media ($desktop) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.partners__link {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  filter: grayscale(1);
  transition: 0.3s ease-in-out;
  transition-property: opacity, filter, box-shadow;

  &:hover {
    box-shadow: $shadow;
    opacity: 1; // Override globals
    filter: grayscale(0);
  }
}
